body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffad33 75%, #f9f9f9 25%);
}

.calculator-container {
    color: black;
    padding: 30px;
    /* text-align: center; */
}

.calculator-container h2 {
    margin: 0 0 14px 0;
    font-size: 24px;
}

.calculator {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.calculator-inputs {
    flex: 1;
    padding-right: 20px;
}

.calculator-inputs .amount,
.calculator-inputs .duration,
.calculator-inputs .rate {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #fff0f5;
    padding: 10 30;
    color: black;
    width: 120px;
    border-radius: 10px;
    border: none !important;
}


.calculator-inputs .amount,
.calculator-inputs .duration,
.calculator-inputs .rate:focus {
    /* outline-color: transparent; */
    outline: none
}


.input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-item {
    width: 48%;
    position: relative;
}



/* .input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    Adjust based on your desired spacing
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    height: 1em;
     Ensure the space is reserved for the error message
    visibility: hidden;
     Hide initially
}

.error-message.visible {
    visibility: visible; 
    Show when there's an error
} */




.calculator-inputs label {
    display: block;
    margin: 15px 0 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.calculator-inputs input[type="number"],
.calculator-inputs input[type="range"] {
    width: 100%;
}



/* Hide arrows in number input for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
*/

/* color change logic starts */



input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #fff0f5;
    outline: none;
    opacity: 1;
    transition: background 0.15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff4081;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff4081;
    cursor: pointer;
}

/* color chang logic ends */


.calculator-results {
    text-align: center;
    padding: 20px;
    background-color: #fff0f5;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-results p {
    margin: 10px 0;
    color: black;
    font-weight: bold;
    font-size: smaller;
}

.calculator-results h3 {
    margin: 15px 0;
    color: black;
    font-size: 24px;
    background-color: white;
    width: 175px;
    border-radius: 4px;
    padding: 5px 38px;
    text-align: center;
}

.calculator-results button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.calculator-results button:hover {
    background-color: #e91e63;
}

.disclaimer {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.strongDisclaimer {
    font-weight: 700;
}

.top-text {
    padding: 5px;
    margin: 20px auto;
    max-width: 1000px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-text h2 {
    text-align: left;
}

.top-text h3 {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}


.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #888;
}

.text-and-nos{
    display: flex;
    background-color: #fff0f5;
    width: 135px;
    border-radius: 8px;
    padding-top: 10px;
}

.rupee{
    padding-top: 3px;
    padding-left: 13px;
}

.months{
    padding-right: 26px;
    padding-top: 1px;
}

.duration{
    padding-left: 18px;
}

.percentage{
    padding-right: 37px;
    padding-top: 1px
}


/* .text-and-nos::after{
    content: "months"
} */
/* .text-and-Interest::after{
    content: "%"
} */

.rate{
    padding-left: 37px;
  }


/* .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
} */







/* .calculator-inputs .amount {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #fff0f5;
    padding: 10 30;
    color: black;
    width: 120px;
    border-radius: 10px;
    border: none !important;
}
.calculator-inputs .text-and-nos .duration-info::after {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #fff0f5;
    padding: 10 30;
    color: black;
    width: 120px;
    border-radius: 10px;
    border: none !important;
    content: "ok";
}
.calculator-inputs .rate {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #fff0f5;
    padding: 10 30;
    color: black;
    width: 120px;
    border-radius: 10px;
    border: none !important;
} */