body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffad33 75%, #f9f9f9 25%);
}

.calculator-container {
    color: black;
    padding: 30px;
}

.calculator-container h2 {
    margin: 0 0 14px 0;
    font-size: 52px;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: normal;
    width: 867px;

    display: flex;
            align-items: center;
}

.calculator {
    background-color: white;
    border-radius: 27px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.calculator-inputs {
    flex: 1;
    padding-right: 20px;
}

.calculator-inputs .amount,
.calculator-inputs .duration,
.calculator-inputs .rate {
 

    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    background-color: #fff0f5;
    padding: 10 30;
    color: black;
    width: 120px;
    border-radius: 10px;
    border: none !important;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}


.calculator-inputs .amount,
.calculator-inputs .duration,
.calculator-inputs .rate:focus {
    outline: none
}


.input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-item {
    width: 48%;
    position: relative;
}

.calculator-inputs label {
    display: block;
    margin: 15px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "Source Sans Pro";
}

.calculator-inputs input[type="number"],
.calculator-inputs input[type="range"] {
    width: 100%;
}



/* Hide arrows in number input for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* color change logic starts */



input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #D1D3D4;
    outline: none;
    opacity: 1;
    transition: background 0.15s ease-in-out;
    margin-top: 25px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 2px solid #D8107C
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 2px solid #D8107C
}

/* color chang logic ends */


.calculator-results {
    text-align: center;
    padding: 20px;
    background-color: #FFE9F6;
    border-radius: 10px;
    width: 25%;
    height: 300px;
}

.calculator-results p {
    font-size: 16px;
    margin: 20px 0 10px;
    color: black;
    font-weight: 400;
    text-align: left;
    font-family: "Source Sans Pro";

}



.calculator-results h3 {
    margin: 15px 0;
    color: #000;
    font-size: 34px;
    background-color: white;
    min-width: auto;
    border-radius: 4px;
    padding: 10px 10px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.calculator-results button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 14px 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
}

.calculator-results button:hover {
    background-color: #e91e63;
}

.disclaimer {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.strongDisclaimer {
    font-weight: 700;
}

.top-text {
    padding: 5px;
    margin: 20px auto;
    max-width: 1000px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-text h2 {
    text-align: left;
}

.top-text p {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}
.range-labels {

    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #888;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    font-family: "Source Sans Pro";
    
}

.text-and-nos{

    display: flex;
    background-color: #F4F4F4;
    width: 185px;
    border-radius: 5px;
    padding-top: 10px;
}










/* ukuk.rupee{
    padding-top: 3px;
    padding-left: 13px;
} */











.rupee-icon {
    width: 17px;
    margin-right: 8px; 
    height: 34px;
    padding-left: 11px;
}

.months{
    padding-right: 13px;
    padding-top: 0px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Source Sans Pro";
}

.duration{
    padding-left: 18px;
}

.percentage{
    padding-right: 50px;
    padding-top: 1px;

    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #000;
}


.rate{
    padding-left: 37px;
}









/* .text-and-nos::after{
    content: "months"
} */
/* .text-and-Interest::after{
    content: "%"
} */

/* .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
} */





/* Responsive Styles */

@media (min-width: 1024px) {
    .calculator-results button {
    padding: 15px 10px;
    font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    .calculator-container h2 {
        font-size: 36px;
        width: auto;
    }

    .calculator {
        flex-direction: column;
        padding: 20px 10px;
    }

    .calculator-inputs {
        padding-right: 0;
    }

    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .input-item {
        width: 100%;
    }

    .calculator-results {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .calculator-results button {
        margin-top: 20px;
        font-size: 12px;
        width: 86%;

    }

    .calculator-results p{
        text-align: center;
    }

    .calculator-results h3{
        font-size: 24px;
        margin: 0 15px;
    }

    .top-text {
        padding: 5px;
        margin: 20px auto;
        max-width: 90%;
    }
}










/* @media (min-width: 768px) {
    .calculator {
        flex-direction: row;
    }

    .input-group {
        flex-direction: row;
    }

    .calculator-results {
        width: 25%;
        height: 300px;
    }

    .calculator-container h2 {
        font-size: 52px;
    }

    .calculator-results h3 {
        font-size: 34px;
    }
} */